.install {
    padding: 127px 0;
    background: url(./../img/install-bg.jpg) center/cover no-repeat;

    &__title {
        font-size: toRem(40);
        font-weight: 700;
        color: $main-color;
        text-align: center;
        margin-bottom: 12px;
    }

    &__subtitle {
        font-size: toRem(16);
        font-weight: 400;
        color: #D8D8D8;
        text-align: center;
        margin-bottom: 62px;
    }

    &__btn {
        display: block;
        margin: 0 auto;
    }
}

