.news {
    padding: 82px 0 129px;

    &__title {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 79px;
            height: 2px;
            background-color: $main-color;
            bottom: -24px;
            left: 50%;
            transform: translateX(-75%);
        }

        &::after {
            content: "";
            position: absolute;
            width: 79px;
            height: 2px;
            background-color: $main-color;
            bottom: -28px;
            right: 50%;
            transform: translateX(50%);
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(4, 263px);
        column-gap: 35px;
        row-gap: 45px;

        @include a (laptop) {
            grid-template-columns: repeat(2, 263px);
            justify-content: center;
        }

        @include a (tablet) {
            grid-template-columns: 263px;
        }
    }

    &__item {
        &-image {
            position: relative;
            margin-bottom: 10px;
        }

        &:hover .news__date {
            background-color: $main-color;
        }

        &:hover .news__titles {
            color: $main-color;
        }
    }

    &__date {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 68px;
        background-color: #203E38;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        color: #fff;
    }

    &__titles {
        font-size: toRem(18);
        font-weight: 700;
        color: #717171;
        text-align: center;
        margin-bottom: 10px;
    }

    &__subtitles {
        font-size: toRem(14);
        color: #777777;
        display: flex;
        justify-content: center;
        gap: 10px;
    }


}